#contact{
    padding: 5% 10%;
}
.contact-info-contianer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    padding: 2%;
    border-top: 1px solid var(--white);
}

.contact-text{
    font-size: 20px;
    color: var(--white);
    padding: 2%;
    max-width: 60%;
}

#end-text{
    color: var(--white);
    text-align: end;
}

.contact-icon{
    height: 40px;
    margin-right: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.contact-icon:hover{
  transform: translateY(-10px);
  cursor: pointer;
}

@media (max-width: 900px) {
    .contact-info-contianer{
        flex-direction: column;
        gap: 20px;
      
    }
    .contact-text{
        max-width: 100%;
    }
}