.language-container{
    font-family: "IBM Plex Mono", monospace;
    position: absolute;
    top: 85%;
    left: 5%;
    z-index: 11;
}

.border-bottom-text{
    text-align: end;
    width: 20rem;
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

.white-bg-text{
    background-color: var(--white);
    color: var(--black);
    width: fit-content;
    padding: 0px 10px;
    margin-bottom: 5px;
}

.language-options-container {
    display: flex;
    color: var(--black);
    gap: 19px;
    cursor: pointer;
}

.language-bttn {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.activeLanguage {
    color: var(--dust-blue);
    background-color: var(--white-17-opacity);
}

.language-bttn:active {
    transform: scale(0.96);
    transition: transform 0.1s;
    animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 480px) {
    .language-container{
        position: static;
        display: block;

        padding: 10px 30px 30px 30px;
    }
}

@media (min-width: 480px) and (max-width: 700px) {
       .language-container{
        position: static;
        display: block;

        padding: 2% 22%;
    } 
}

@media (min-width: 1500px) {
    .language-container{
        position: absolute;
        top: 87%;
        left: 3%;
        min-height: 100%;
    }
}


@media (min-width: 1025px) and (max-width: 1500px) {
    .language-container{
        position: static;
        display: block;
        padding: 0 30%;
    }
}

@media (min-width: 700px) and (max-width: 1025px) {
    .language-container{
        position: static;
        display: block;
        padding: 0 23%;
    }
}