/* Containers */
.about-container {
    position: relative;
    display: flex;
    font-size: 17px;
    color: var(--white);
    gap: 20px;
    padding: 5% 10%;
}

.about-text{
    width: 50%;
}

.dark-text {
    color: var(--dark-gray);
    margin-top: 40px;

}


.slide-right {
    animation: slide-right 1.5s ease-out forwards;
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide Left */
.slide-left {
    animation: slide-left 2s ease-out forwards;
}

@keyframes slide-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.blink {
  opacity: 0.5; /* start invisible */
  animation: blink-delay 1s ease-in 0.5s 1 forwards; 
}

@keyframes blink-delay {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0.5;
  }
}

    